@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom pastel color variables */
:root {
  --foreground-color: #333; /* Default foreground color */
  --background-color: #f0f0f0; /* Default background color */
}

/* Apply pastel color scheme */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #f0f0f0; /* Dark mode foreground color */
    --background-color: #333; /* Dark mode background color */
  }
}

/* Apply body background and text color */
body {
  color: var(--foreground-color); /* Set text color */
  background-color: var(--background-color); /* Set background color */
  min-height: 100vh; /* Ensure minimum height of viewport */
  display: flex;
  flex-direction: column;
}

/* Ensure root div takes full height */
body > div {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Reset default margins and paddings */
html,
body {
  padding: 0;
  margin: 0;
}

/* Additional utilities */
@layer utilities {
  /* Add your custom utilities here */
  .min-h-screen {
    min-height: 100vh;
  }
}

/* Keyframes for the blinking animatation */
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Blinking animatation */
.animate-blink {
  animation: blink 1.5s infinite;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
